version: '3.8'

services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./raw_data:/raw_data # Mount raw_data folder to access CSV files
    ports:
      - "5432:5432"

  data_loader:
    image: postgres:latest
    depends_on:
      - db
    volumes:
      - ./raw_data:/raw_data
    entrypoint: /bin/bash /raw_data/load_data.sh
    environment:
      PGPASSWORD: admin
    links:
      - db

  pgadmin:
    image: dpage/pgadmin4:latest
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db

  jupyter:
    image: jupyter/scipy-notebook:latest
    ports:
      - "8888:8888"
    volumes:
      - ./analysis/notebooks:/home/jovyan/work
    environment:
      - JUPYTER_TOKEN=admin
    depends_on:
      - db
    # Install drivers on startup so we can connect to Postgres
    command: bash -c "pip install psycopg2-binary sqlalchemy ipython-sql && start-notebook.sh --NotebookApp.token='admin'"

  dbt:
    image: ghcr.io/dbt-labs/dbt-postgres:1.7.0
    restart: always
    volumes:
      - ./:/usr/app
      - ./profiles.yml:/usr/app/profiles.yml
    working_dir: /usr/app
    environment:
      - DBT_PROFILES_DIR=/usr/app
      - DBT_HOST=db
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
    depends_on:
      - db
    entrypoint: /bin/bash
    ports:
      - "8080:8080"
    command: -c "dbt docs generate && python -m http.server 8080 --directory target"
